<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fang.screw.upm.mapper.BlogPermissionMapper">

<!--    <resultMap id="BizObjStatisticsData" type="com.board.gov.domain.biz.vo.cfg.BizObjStatisticsDataVO">-->

<!--        <result column="id" property="id"/>-->
<!--        <result column="biz_obj_key" property="bizObjKey"/>-->
<!--        <result column="biz_obj_calc_value" property="bizObjCalcValue"/>-->
<!--        <result column="biz_statistic_cfg_id" property="bizStatisticCfgId"/>-->
<!--        <result column="biz_obj_name" property="bizObjName"/>-->
<!--        <result column="biz_obj_alias" property="bizObjAlias"/>-->
<!--        <result column="biz_obj_type" property="bizObjType"/>-->
<!--        <result column="biz_obj_calc_type" property="bizObjCalcType"/>-->
<!--        <result column="dashboard_show_type" property="dashboardShowType"/>-->

<!--    </resultMap>-->

    <select id="getBlogPermissionListByUserId" resultType="com.fang.screw.domain.po.BlogPermissionPO">
        select
            permission.id,
            permission.permission_code,
            permission.permission_name,
            permission.permission_scope,
            permission.permission_category,
            permission.permission_type


        from blog_permission as permission
                 left join rel_role_permission on permission.id = rel_role_permission.permission_id
                 left join blog_role on blog_role.id = rel_role_permission.role_id
                 left join rel_user_role on rel_user_role.role_id = blog_role.id
        where ( blog_role.id = 1 AND permission.del_flag = 0)
    </select>

<!--    <select id="getBizObjStatisticsDataPage" resultMap="BizObjStatisticsData">-->
<!--        select-->
<!--            bizData.id,-->
<!--            bizData.biz_obj_key,-->
<!--            bizData.biz_obj_calc_value,-->
<!--            bizData.biz_statistic_cfg_id,-->
<!--            biz.biz_obj_name,-->
<!--            biz.biz_obj_alias,-->
<!--            biz.biz_obj_type,-->
<!--            biz.biz_obj_calc_type,-->
<!--            biz.dashboard_show_type-->
<!--        from-->
<!--            biz_obj_statistics_data as bizData-->
<!--                LEFT JOIN-->
<!--            cfg_biz_obj_statistics as biz ON bizData.biz_statistic_cfg_id = biz.id-->
<!--        where biz.del_flag ='0'-->
<!--            LIMIT #{current}, #{pageSize}-->

<!--    </select>-->

</mapper>